<form class="fth-character-creator cc-compendium-select">
  <p class="cc-compendium-select__notes">
    Select which compendium packs provide content for the character creator.
    Packs are auto-detected by the item types they contain.
  </p>

  {{#each groups}}
  <fieldset class="cc-compendium-select__group">
    <legend class="cc-compendium-select__legend">{{label}}</legend>
    {{#if packs.length}}
    <div class="cc-compendium-select__packs">
      {{#each packs}}
      <label class="cc-compendium-select__pack">
        <input type="checkbox" name="pack__{{../type}}__{{collection}}" {{#if enabled}}checked{{/if}} />
        <span class="cc-compendium-select__pack-name">{{label}}</span>
        <span class="cc-compendium-select__pack-meta">({{packageName}}, {{count}} items)</span>
      </label>
      {{/each}}
    </div>
    {{else}}
    <p class="cc-compendium-select__empty">No packs detected with {{label}} content.</p>
    {{/if}}
  </fieldset>
  {{/each}}

  <footer class="sheet-footer flexrow">
    <button type="submit" class="dialog-button default">
      <i class="fa-solid fa-save"></i> Save
    </button>
  </footer>
</form>
